* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: black;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-style {
    background-color: #27ae60;
    transition: 600ms;
}

.quote-box {
    padding: 20px;
    min-width: 350px;
    max-width: 600px;
    min-height: 200px;
}

.quote-box_style {
    background-color: beige;
    box-shadow: 0px 0px 8px 15px beige;
    border-radius: 16px;
}

.quote-text_style {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1em;
    color: #27ae60;
    transition: 600ms;
}


.quote-text_style::before {
    content: "\"";
    font-size: 32px;
}

.quote-author_style {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    text-align: right;
    font-size: 24px;
    color: #27ae60;
    transition: 600ms;
}

.quote-author_style::before {
    content: "- ";
}

.button-container {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    transition: 0.3s;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    padding: 0 5px;
    transition: 300ms;
}

.button:active {
    transform: scale(0.93);
}

.button_style {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;    
}

.button_style:hover {
    background-color: black;
    color: beige;
}
